# Customize this file with your
# Copy this file to ~/.freepress.config
#
# format: text/yaml
#
# <3 FreePress.cc
#

collection_path: "/full/path/to/my/collections/parent/directory"
collections:
  - Solar_Deserts_Now
  - The_Project

#targets:
#   - smallest_federated_wiki:
#       - fed.wiki.org


