# Customize this file with your
# Copy this file to ~/.freepress.config
#
# <3 freepress.cc
#
# format: text/yaml
#

collection_path: "/full/path/to/my/collections/parent/directory"
collections:
  - Solar_Deserts_Now
  - The_Project

targets:
   - smallest_federated_wiki:
       - localhost:1111
       - fed.wiki.org

username: john-smith

